### project configurations
APP_NAME={{ .Env.PROJECT_NAME }}
APP_ENV=local
APP_KEY=base64:3LQqtW7FhPMrt5Ht5R+IAQ+zWb1QzHT0WS3S1RE1INA=
APP_DEBUG=true
APP_URL=https://{{ .Env.SITE_URL }}

MIX_API_URL=https://{{ .Env.SITE_URL }}
MIX_WEB_URL=https://{{ .Env.SITE_URL }}
MIX_PORTAL_URL=https://{{ .Env.SITE_URL }}
MIX_PORTAL_DOMAIN=https://{{ .Env.SITE_URL }}
#MIX_AERZTEPHOTOS_FOLDER=qd
MIX_CLIENT_SECRET=npUPDCJnnZ3okrx7mdezQkBxdghuIY2xkOq1q8vc
MIX_WEB_URL_ITA=https://{{ .Env.SITE_URL }}
MIX_WEB_URL_SNA=https://{{ .Env.SITE_URL }}

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST={{ .Env.MYSQL_HOST }}
DB_PORT=3306
DB_DATABASE={{ .Env.MYSQL_DATABASE }}
DB_USERNAME={{ .Env.MYSQL_USER }}
DB_PASSWORD={{ .Env.MYSQL_PASSWORD }}

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

NOVA_GUARD=web

RECAPTCHA_SITE_KEY={{ .Env.RECAPTCHA_SITE_KEY }}
RECAPTCHA_SECRET_KEY={{ .Env.RECAPTCHA_SECRET_KEY }}

AUTHY_SECRET={{ .Env.AUTHY_SECRET }}
STRIPE_CLIENT_ID={{ .Env.STRIPE_CLIENT_ID }}
STRIPE_SECRET_KEY={{ .Env.STRIPE_SECRET_KEY }}
CURRENT_MAIL=system

SYSTEM_MAIL_DRIVER=smtp
SYSTEM_MAIL_HOST={{ .Env.SYSTEM_MAIL_HOST }}
SYSTEM_MAIL_PORT={{ .Env.SYSTEM_MAIL_HOST }}
SYSTEM_MAIL_USERNAME={{ .Env.SYSTEM_MAIL_HOST }}
SYSTEM_MAIL_PASSWORD={{ .Env.SYSTEM_MAIL_HOST }}
SYSTEM_MAIL_ENCRYPTION=ssl
SYSTEM_MAIL_FROM_ADDRESS={{ .Env.SYSTEM_MAIL_HOST }}
SYSTEM_MAIL_FROM_NAME="Online Hautarzt - Systemnachricht"

DOCTOR_MAIL_DRIVER=smtp
DOCTOR_MAIL_HOST={{ .Env.DOCTOR_MAIL_HOST }}
DOCTOR_MAIL_PORT={{ .Env.DOCTOR_MAIL_PORT }}
DOCTOR_MAIL_USERNAME={{ .Env.DOCTOR_MAIL_USERNAME }}
DOCTOR_MAIL_PASSWORD={{ .Env.DOCTOR_MAIL_PASSWORD }}
DOCTOR_MAIL_ENCRYPTION=ssl
DOCTOR_MAIL_FROM_ADDRESS={{ .Env.DOCTOR_MAIL_FROM_ADDRESS }}
DOCTOR_MAIL_FROM_NAME="Online Hautarzt - Anfrage"

IMAP_HOST={{ .Env.IMAP_HOST }}
IMAP_PORT={{ .Env.IMAP_PORT }}
IMAP_ENCRYPTION=ssl
IMAP_VALIDATE_CERT=false
IMAP_USERNAME={{ .Env.SYSTEM_MAIL_HOST }}
IMAP_PASSWORD={{ .Env.SYSTEM_MAIL_HOST }}
IMAP_DEFAULT_ACCOUNT=default
IMAP_PROTOCOL=imap

ADMIN_MAIL_DRIVER=smtp
ADMIN_MAIL_HOST={{ .Env.ADMIN_MAIL_HOST }}
ADMIN_MAIL_PORT={{ .Env.ADMIN_MAIL_PORT }}
ADMIN_MAIL_USERNAME={{ .Env.ADMIN_MAIL_USERNAME }}
ADMIN_MAIL_PASSWORD={{ .Env.ADMIN_MAIL_PASSWORD }}
ADMIN_MAIL_ENCRYPTION=ssl
ADMIN_MAIL_FROM_ADDRESS={{ .Env.ADMIN_MAIL_FROM_ADDRESS }}
ADMIN_MAIL_FROM_NAME="Titus Brinker"

SUPPORT_MAIL_DRIVER=smtp
SUPPORT_MAIL_HOST={{ .Env.SUPPORT_MAIL_HOST }}
SUPPORT_MAIL_PORT={{ .Env.SUPPORT_MAIL_PORT }}
SUPPORT_MAIL_USERNAME={{ .Env.SUPPORT_MAIL_USERNAME }}
SUPPORT_MAIL_PASSWORD={{ .Env.SUPPORT_MAIL_PASSWORD }}
SUPPORT_MAIL_ENCRYPTION=ssl
SUPPORT_MAIL_FROM_ADDRESS={{ .Env.SUPPORT_MAIL_FROM_ADDRESS }}
SUPPORT_MAIL_FROM_NAME="Online Hautarzt - Hilfe"
QUEUE_CONNECTION=database